##################
# Unity ignores:
# Version control mode (Edit->ProjectSettings->Editor) has been set to meta files. 
# All meta data is stored in *.meta files (do NOT ignore them) and not in the Library directory (thus it can be ignored)
# http://answers.unity3d.com/questions/22604/which-unity-project-files-can-be-ignored-for-versi.html
# … don’t forget to [git add "*"] (quotes are required!) when adding new files, or git will silently ignore them
#

# OS X only (not needed on other platforms)
.DS_Store
*.swp
*.Trashes
*.app

# All platforms
Library
Temp
obj
*.csproj
*.pidb
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.exe